/* Styles that only apply to the home page */

:root {
	--home-top-blurb-color: var(--text-accent-color);
}

#top-section {
	background-color: transparent;
}

#about-me-section {
	background-color: var(--darkest-gray);
}

#projects-list-section {
	background-color: transparent;
}

.home-top-blurb {
	width: 90%;
	color: var(--home-top-blurb-color);
	margin-bottom: 20px;
	display: inline-block;
}

.big-alec {
	/* font-family: "Cormorant Garamond", serif;
	font-style: italic;
	font-weight: 600; */
	/* font-weight: var(--light-font-weight); */
	font-weight: 500;
	font-size: 5em;
	color: var(--lightest-gray);
	margin-bottom: 30px;
	line-height: 1.0;
	display: inline-block;
}
.about-long-text {
	padding: 30px;
	background: var(--darkest-gray);
}


